:root {
  --white-full : #fff;
  --blue-dark : #2B4B9F;
  --blue : #2A4EEC;
  --black : #303030;
  --grey : #5C5C5C;
  --box-grey : #DEDEDE;
  --bg-grey : #F2F1F1;
  --letter-grey : #C0C0C0;
  --letter-grey-dark : #656565;

  --font1 : 'PT Sans';
  --font2 : 'Nunito';
}
#container-all {
  width: 100vw;
  height: 100vh;
  display: flex;
}
#menu {
  background-color: var(--blue-dark);
  width: 20%;
  height: 100%;
}
#main {
  background-color: var(--bg-grey);
  width: fit-content;
  height: 100%;
}
#top-menu {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
#line-menu {
  display: block;
  content: "";
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
  height: 2px;
  border-radius: 20px;
  background-color: var(--white-full);
}
#menu-options {
  margin-top: 80px;
}
.option {
  display: block;
  padding: 20px 30px;
  color: var(--white-full);
  font-family: var(--font1);
  font-size: 28px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
#line-menu2 {
  display: block;
  content: "";
  margin: 0 auto;
  margin-bottom: 5px;
  width: 90%;
  height: 2px;
  border-radius: 20px;
  background-color: var(--white-full);
}
#footer-menu {
  display: block;
  margin-top: 220px;
  width: 100%;
}
#btn-logout {
  display: flex;
  background-color: var(--white-full);
  color: var(--blue-dark);
  width: 90%;
  height: 50px;
  margin: 0 auto;
  border-radius: 10px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  font-family: var(--font1);
  font-weight: bold;
  font-size: 28px;
  text-decoration: none;
}
#btn-logout:hover {
  background-color: var(--blue-dark);
  color: #fff;
  border: 3px solid var(--white-full);
}
#menu-icon {
  cursor: pointer;
}

 /* -- MENU CLOSED --  */

#menu-close {
  background-color: var(--blue-dark);
  width: 10%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0px 40px 0px;
}
#menu-closed-icon {
  cursor: pointer;
}
.closed-menu{
  display: none;
}
.opened-menu {
  display: block;
}

 /* -- MAIN --  */
 
#main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  position: relative;
}
#h1-banner {
  background-color: var(--blue-dark);
  width: 70%;
  height: 80px;
  margin: 20px auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
#h1-banner h1 {
  color: var(--white-full);
  font-family: var(--font1);
  font-size: 48px;
  font-weight: bold;
  margin-left: 30px;
}
#container-profile {
  background-color: var(--white-full);
  margin: 0 auto;
  width: 70%;
  height: 75%;
  border-radius: 20px;
  display: flex;
  font-family: var(--font2);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.137);
}
#left-sect {
  width: 30%;
  height: 100%;
  display: block;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 20px;
  box-sizing: border-box;
}
#center-sect {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
#right-sect {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0px 70px 0px;
  box-sizing: border-box;
}
#profile-photo {
  width: 80%;
  margin-bottom: 30px;
  padding-left: 25px;
  padding-top: 20px;
}
#bio-card {
  text-align: center;
  margin: 0 auto;
}
#bio-card div {
  margin-bottom: 30px;
}
.label-txt {
  font-size: 24px;
  font-weight: 600;
  color: var(--letter-grey-dark);
  margin-bottom: 10px;
}
.info-txt {
  font-size: 24px;
  font-weight: 600;
  color: var(--black);
}
.bio-label-txt {
  font-size: 22px;
  font-weight: 600;
  color: var(--letter-grey-dark);
  margin-bottom: 10px;
}
.bio-info-txt {
  font-size: 22px;
  font-weight: 600;
  color: var(--black);
}